<?xml version="1.0"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <appSettings>
    <add key="serverUrl" value=""/>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="verbose" value="false"/>
    <add key="buildTypeIds" value="*"/>
    <add key="buildTypeIdsExcluded" value="*"/>
    <add key="intervalSeconds" value="30"/>
  </appSettings>
  
</configuration>
